<nz-card [nzBordered]="false">
    <ng-template #title>
      <ng-container *ngFor="let item of actions">
          <button nz-button  [nzType]="item.type" (click)="doAction(item)" ><i [className]="item.icon"></i>&nbsp;{{ item.label | translate}}</button>
        &nbsp;&nbsp;
      </ng-container>
      </ng-template>
      <ng-template #body>
            <table-view (onSelectedChange)="onSelectedChange($event)" (dataLoadComplete)="onDataLoadComplete($event)" [config]="config" [params]="params"></table-view>
      </ng-template>
</nz-card>
