<nz-table #nzTable
    [nzAjaxData]="rows"
    [nzPageSize]="pagerData.pageSize"
    [nzTotal]="pagerData.recordCount"
    [nzLoading]="loading"
    (nzPageIndexChange)="onPageChange($event)">
    <thead nz-thead>
        <tr>
            <ng-container *ngFor="let column of columns">
                <th [nzWidth]="'40px'" nz-th *ngIf="column.field=='selectedId'">
                    <label nz-checkbox [(ngModel)]="selectedAll" (ngModelChange)="onSelectedAllChange($event)">
                    </label>
                </th>
                <th nz-th *ngIf="column.field!='selectedId'">
                    <span>{{column.label}}</span>
                    <nz-table-sort *ngIf="column.sortabld"  (nzValueChange)="doSorting(column.field,$event)"></nz-table-sort>
                    <nz-dropdown *ngIf="column.searchable" [nzTrigger]="'click'" [nzClickHide]="false">
                      <i class="anticon anticon-smile-o ant-table-filter-icon" nz-dropdown></i>
                      <div nz-dropdown-custom class="custom-filter-dropdown">
                        <nz-input input-debounce [nzPlaceHolder]="'搜索'" [(ngModel)]="column.searchKey" (valueChange)="onSearchChange($event,column)"></nz-input>
                      </div>
                    </nz-dropdown>
                </th>
            </ng-container>
        </tr>
    </thead>
    <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let row of rows">
            <ng-container *ngFor="let column of columns">
              <td nz-td *ngIf="column.field!='action'">
                <div *ngIf="column.titleabled"[attr.title]="row[column.field]">{{row[column.field]}}</div>
                <div *ngIf="!column.titleabled">
                  <ng-container *ngIf="column.field!='selectedId'">
                      {{row[column.field]}}
                  </ng-container>
                   <ng-container *ngIf="column.field=='selectedId'">
                    <label nz-checkbox [(ngModel)]="row.selected" (ngModelChange)="onSelectedSingleChange($event)">
                    </label>
                  </ng-container>
                </div>
              </td>
              <td nz-td *ngIf="column.field=='action'">
                 <ng-container *ngFor="let action of _config.actions;let i=index">
                    <a (click)="doAction(action,row._id)">{{action | translate}}</a>
                    <span *ngIf="i<_config.actions.length-1" nz-table-divider></span>
                 </ng-container>
              </td>
            </ng-container>
        </tr>
    </tbody>
</nz-table>