<div class="searchbar">
    <div class="left">
    <nz-dropdown [nzClickHide]="false">
    <button type="button" nz-dropdown>
      <i class="fa fa-search" aria-hidden="true"></i>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
    <ul nz-menu>
        <li nz-menu-item>
           <label nz-checkbox [(ngModel)]="selectAllSearchField" (ngModelChange)="onSelectAllSearchFieldChange($event)">
              <span>All</span>
            </label>
        </li>
        <li nz-menu-item *ngFor="let item of searchableFields">
           <label nz-checkbox [(ngModel)]="item.selected" (ngModelChange)="onSelectSearchFieldChange($event)">
              <span>{{item.label | translate}}</span>
            </label>
        </li>
      </ul>
    </nz-dropdown>
  </div>
 <nz-input nzType="text" input-debounce [(ngModel)]="searchKeywords" (valueChange)="onSearchChange($event)" [nzPlaceHolder]="'搜索'"></nz-input>
</div>

<nz-table #nzTable
    [nzAjaxData]="rows"
    [nzPageIndex]="pagerData.currentPage"
    [nzPageSize]="pagerData.pageSize"
    [nzTotal]="pagerData.recordCount"
    [nzLoading]="loading"
    (nzPageIndexChange)="onPageChange($event)">
    <thead nz-thead>
        <tr>
            <ng-container *ngFor="let column of columns">
                <th [nzWidth]="'40px'" nz-th *ngIf="column.field=='selectedId'">
                    <label nz-checkbox [(ngModel)]="selectedAll" (ngModelChange)="onSelectedAllChange($event)">
                    </label>
                </th>
                <th nz-th *ngIf="column.field!='selectedId'">
                    <span>{{column.label | translate}}</span>
                    <nz-table-sort *ngIf="column.sortabld"  (nzValueChange)="doSorting(column.field,$event)"></nz-table-sort>

                     <nz-dropdown *ngIf="column.searchable && column.dataSource" [nzTrigger]="'click'" [nzClickHide]="false">
                      <i class="anticon anticon-smile-o ant-table-filter-icon" nz-dropdown></i>
                      <ul nz-menu>
                        <li nz-menu-item *ngFor="let filter of column.dataSource">
                          <label nz-checkbox [(ngModel)]="filter.selected">
                            <span>{{filter.label}}</span>
                          </label>
                        </li>
                      </ul>
                      <div nz-table-filter>
                        <span nz-table-filter-confirm (click)="doQueryIn(column)">OK</span>
                        <span nz-table-filter-clear (click)="resetQueryIn(column)">Reset</span>
                      </div>
                    </nz-dropdown>
                </th>
            </ng-container>
        </tr>
    </thead>
    <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let row of rows">
            <ng-container *ngFor="let column of columns">
              <td nz-td *ngIf="column.field!='action'">
                <div *ngIf="column.titleabled"[attr.title]="row[column.field]">{{row[column.field]}}</div>
                <div *ngIf="!column.titleabled">
                  <ng-container *ngIf="column.field!='selectedId'">
                     {{row[column.field]}}
                  </ng-container>
                   <ng-container *ngIf="column.field=='selectedId'">
                    <label nz-checkbox [(ngModel)]="row.selected" (ngModelChange)="onSelectedSingleChange($event)">
                    </label>
                  </ng-container>
                </div>
              </td>
            </ng-container>
        </tr>
    </tbody>
</nz-table>