@mixin ngx-chosen-theme() {
    .chosen-container{
      width: 100%;
    }

    .chosen-drop{
      position: absolute;
      z-index: 1010;
      border: 1px solid #aaa;
      border-top: 0;
      background: #fff;
      -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
              box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);

      .chosen-search{
        input{
          width:100%;
        }
      }


      .chosen-results {
          color: #444;
          position: relative;
          overflow-x: hidden;
          overflow-y: auto;
          margin: 0 4px 4px 0;
          padding: 0 0 0 4px;
          max-height: 240px;
          -webkit-overflow-scrolling: touch;

          li {
            display: none;
            margin: 0;
            padding: 5px 6px;
            list-style: none;
            line-height: 15px;
            word-wrap: break-word;
            -webkit-touch-callout: none;
            &.active-result {
              display: list-item;
              cursor: pointer;
            }
             &.disabled-result {
                display: list-item;
                color: #ccc;
                cursor: default;
            }
            &.highlighted{
                background-color: #f5f7fa;
                // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
                // background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
                // color: #fff;
            }
            &.no-results {
              color: #777;
              display: list-item;
              background: #f4f4f4;
            }

            &.result-selected {
                display: list-item;
                color: #40dc7e;
                cursor: default;
              }


          }

      }
    }

    .form-chosen-select{
      padding-right:10px;
       &.ng-dirty.ng-invalid{
         .chosen-container-single .chosen-single {
          border:2px solid #ff0000;
        }
         .chosen-container-multi .chosen-choices {
          border:2px solid #ff0000;
        }
      }
    }
    .chosen-container-single .chosen-single {
      position: relative;
      display: block;
      overflow: hidden;
      padding: 0.45rem 1.025rem;
      height: 40px;
      border: 2px solid  #dadfe6;
      border-radius: 0.375rem;
      background-color: #fff;
      background: none;
      background-clip: padding-box;
      box-shadow: none;
      color: #444;
      text-decoration: none;
      white-space: nowrap;
      line-height: 24px;
      span{
        font-size:14px;
      }
    }

    .chosen-container-active.chosen-with-drop .chosen-single div {
      border-left: none;
      background: 0 0;
      padding-top:7px;
    }
    .chosen-container-single .chosen-single div {
      padding-top:7px;
    }

    .chosen-container .chosen-drop{
      border-top:1px solid #aaa;
    }

    .chosen-container-multi .chosen-choices{
      border: 2px solid  #dadfe6;
      border-radius: 0.375rem;
      width:100%;
      box-shadow: none;
      background: none;
      min-height:40px;
      padding: 0.45rem 1.025rem;
      li.search-choice span {
        font-size: 14px;
      }
      span.placeholder{
        display:inline-block;
        margin-top:3px;
        font-size:14px;
      }

    }

    .chosen-container-active .chosen-choices {
      border: 2px solid  #dadfe6;
      box-shadow: none;

    }



}
