@mixin ngx-fieldset-theme() {
  fieldset{
    legend {
      display: block;
      width: 100%;
      padding: 0;
      margin-bottom: 15px;
      font-size: 19.5px;
      line-height: 36px;
      color: #333;
      border: 0;
      cursor: pointer;
      border-bottom: 1px solid #eee;
      i{
        font-size:14px;
      }
    }
    .control-group{
      .control-label {
        float: left;
        width: 140px;
        padding-top: 5px;
        text-align: right;
      }
      .controls {
        margin-left: 160px;
        .radio, .checkbox {
          min-height: 18px;
          padding-left: 0px;
        }
        .checkbox:first-child{
          padding-top:5px;
        }
        label {
          display: block;
          margin-bottom: 5px;
          color: #333;
        }
      }
    }
  }
}
