<nz-card [nzBordered]="false">
      <ng-template #title>
            <ng-container *ngIf="params.id">编辑</ng-container>
            <ng-container *ngIf="!params.id">新增</ng-container>
      </ng-template>
      <ng-template #body>
            <form-view [config]="config"></form-view>
             <div nz-form-control nz-col [nzSpan]="14" [nzXs]="24" [nzOffset]="4">
              <button nz-button [nzType]="'primary'" (click)="save()">保存</button>
              <button nz-button (click)="back()">取消</button>
          </div>
      </ng-template>
</nz-card>

