:host ::ng-deep {
    .thumb{
        li{
            width: 45px;
            height: 45px;
            position: relative;
            border: 1px solid #ddd;
            text-align: center;
            cursor: pointer;
            vertical-align: middle;
            overflow: hidden;
            float: left;
            img{
                width: 45px;
                height: 45px;
            }
            a{
                display: inline-block;
                padding-top: 5px;
            }
            input {
                position: absolute;
                font-size: 100px;
                right: 0;
                top: 0px;
                opacity: 0;
                filter: alpha(opacity=0);
                cursor: pointer
            }
        }
    }
    
    
    table{
        border:0px;
        th{
            background:#f7f7f7;
        }
    }

}