<div>
    <ng-container *ngFor="let group of groups">
  <div class="form-field-header">
    {{group.name}}
  </div>
  <div nz-row *ngFor="let row of group.rows">
     <ng-container *ngFor="let item of row">
      <div nz-col class="field-cell" [nzSpan]="24" *ngIf="item.formWidth=='fullRow'">
        <div nz-form-item nz-row>
          <div class="field-name" nz-form-control nz-col [nzSm]="4">
            {{item.label | translate}}：
          </div>
          <div nz-form-control nz-col [nzSm]="18">
              {{infoData[item.field]}}
          </div>
          <div nz-col [nzSm]="2">
          </div>
        </div>
      </div>
      <div nz-col class="field-cell" [nzSpan]="12" *ngIf="item.formWidth=='halfWidth'">
        <div nz-form-item nz-row>
          <div class="field-name" nz-form-control nz-col [nzSm]="8">
            <label>{{item.label | translate}}：</label>
          </div>
          <div nz-form-control nz-col [nzSm]="12">
               {{infoData[item.field]}}
          </div>
          <div nz-col [nzSm]="4">
          </div>
        </div>
      </div>
      <div nz-col class="field-cell" [nzSpan]="24" *ngIf="item.formWidth=='halfWidth_'">
        <div nz-form-item nz-row>
          <div  class="field-name" nz-form-control nz-col [nzSm]="4">
            <label>{{item.label | translate}}：</label>
          </div>
          <div nz-form-control nz-col [nzSm]="6">
               {{infoData[item.field]}}
          </div>
          <div nz-col [nzSm]="14">
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  </ng-container>
</div>
